/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-------------------------------generaor------------------------------------------ -*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 1025px;
    margin: 0 auto;
    text-align: center;
}

.caption {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 58px;
    border-bottom: 2px solid #e5e5e5;
}


/*----------------------------heder-------------------------------------------------------*/

.header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 28px;
}

.login a {
    position: relative;
    text-decoration: none;
    color: #e1c15f;
    border-bottom: 2px dotted #e1c15f;
    margin: 7px;
    font-size: 15px;
    left: 0px;
}

.login a:first-child:after {
    content: '';
    position: absolute;
    height: 90%;
    width: 3px;
    background: #e1c15f;
    top: 3px;
    right: -10px;
}

.login label {
    position: relative;
}

.login label:before {
    position: absolute;
    right: 11px;
    bottom: 10px;
    color: #fff;
    font-size: 13px;
}

.searchstyle {
    margin-top: 13px;
    width: 211px;
    height: 29px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding-left: 17px;
    color: #e5e5e5;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.searchstyle:hover,
.searchstyle:focus {
    border: 1px solid #e1c15f;
    background-color: rgba(255, 255, 255, 0.3);
}

.searchstyle::-webkit-input-placeholder {
    color: #e5e5e5;
    font-size: 14px;
}

.searchstyle::-moz-placeholder {
    color: #e5e5e5;
    font-size: 14px;
}


/* Firefox 19+ */

.searchstyle:-moz-placeholder {
    color: #e5e5e5;
    font-size: 14px;
}


/* Firefox 18- */

.searchstyle:-ms-input-placeholder {
    color: #e5e5e5;
    font-size: 14px;
}

.phone {
    padding-right: 29px;
    position: relative;
}

.phone .num {
    color: #fff;
}

.num {
    font-size: 18px;
    font-weight: 300;
}

.num>span {
    font-size: 22px;
    font-weight: 400;
}

.phone .main-num {
    margin-bottom: 9px;
}

.phone .phone-wrap {
    position: absolute;
    background: #fff;
    border: 1px solid #e1c17f;
    padding: 10px;
    display: none;
}

.phone-wrap>.num {
    color: #000;
    margin-bottom: 5px;
}

.phone label {
    position: absolute;
    right: 1px;
    top: 0;
    width: 17px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.phone label:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.phone input {
    display: none;
}

.phone input:checked+label {
    border: 1px solid #e1c17f;
}

.phone input:checked+label+.phone-wrap {
    display: block;
}

.callback {
    font-size: 16px;
    color: #e1c15f;
    text-decoration: none;
    border-bottom: 2px dotted #e1c15f;
    margin: 1px 1px 1px 36px;
}

.menu {
    text-align-last: justify;
    border-top: 1px solid #3c3c3c;
}

.header-menu {
    width: 720px;
    margin: 0 auto;
}

.header-menu>li {
    display: inline-block;
    position: relative;
}

.header-menu>li>a {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    border-top: 2px solid transparent;
    padding: 17px 0px;
    margin-top: 0px;
}

.header-menu>li>a:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 48%;
    right: -28px;
    transform: translate(-50%);
}

.header-menu>li:last-child>a:after {
    display: none;
}

.header-menu>li>a:hover {
    color: #e1c15f;
    border-top: 2px solid #e1c15f;
}

.submenu {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
    background-origin: content-box;
    padding-top: 10px;
}

.header-menu>li:hover .submenu {
    z-index: 999;
    opacity: 1;
    top: 100%;
}

.submenu:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000;
    top: 0px;
    left: 25px
}

.submenu h3 {
    text-transform: uppercase;
    color: #e1c15f;
    border-bottom: 1px solid #3c3c3c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 20px 10px 20px;
}

.man:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.man:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.women:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.women:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.submenu>ul>li>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.submenu-left {
    border-right: 1px solid #3c3c3c;
    padding-right: 40px;
    list-style-type: disc;
    color: white;
    margin: 25px 0px 20px 35px;
}

.submenu-left li {
    margin-bottom: 10px;
}

.submenu-right {
    padding-left: 40px;
    list-style-type: disc;
    color: white;
    margin: 25px 35px 20px 0px;
}

.submenu-right li {
    margin-bottom: 10px;
}

.submenu a:hover {
    border-bottom: 1px solid white;
}


/*-------------------------banner---------------------------------------------------------*/

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-slider .sl1,
.banner-slider .sl2,
.banner-slider .sl3 {
    background-size: 100% auto;
    height: 1px;
    min-height: 40vw;
    background-repeat: no-repeat;
}

.banner-slider .sl1 {
    background-image: url(../img/bg-1.png);
}

.banner-slider .sl2 {
    background-image: url(../img/bg-2.png);
}

.banner-slider .sl3 {
    background-image: url(../img/bg-3.png);
}

.banner-text {
    width: 361px;
    position: relative;
    right: 32%;
}

.banner-text>h2 {
    text-transform: uppercase;
    font-size: 38px;
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 12px;
}

.banner-text>h1 {
    text-transform: uppercase;
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    padding-top: 11px;
}

.banner-text>a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border: 2px solid #c19324;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    padding: 9px 30px;
    display: inline-block;
    margin-top: 32px;
    transition: all .5s ease;
}

.banner-text>a:hover {
    color: #fff;
    background-color: #eec652;
    background-image: linear-gradient(to top, #cc0001 0%, #d63334 100%);
    border: 2px solid #a32424;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}


/*---------------------slick--------------------------------------------------------*/

.slick-slider * {
    outline: none;
}

.banner-slider {
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 43px;
    height: 45px;
    font-size: 0;
    background: rgba(169, 169, 169, 0.3);
    border: 1px solid transparent;
    z-index: 1;
    transition: all 0.3s ease;
}

.slick-arrow:hover {
    background: #000;
}

.slick-arrow:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #6b6b74;
    top: 50%;
    left: 50%;
}

.slick-arrow:hover:before {
    border-color: #fff;
}

.slick-prev {
    left: 5%;
}

.slick-next {
    right: 5%;
}

.slick-prev:before {
    border-left: 1px solid #6b6b74;
    transform: translate(-25%, -50%) rotate(45deg);
}

.slick-next:before {
    border-left: 1px solid #6b6b74;
    transform: translate(-75%, -50%) rotate(-133deg);
}


/*---------------------slick produkt-------------------------------------------------*/

.product-control {
    position: relative;
}

.product-control .slick-arrow {
    position: absolute;
    top: -6%;
    transform: translateY(-50%);
    width: 23px;
    height: 22px;
    font-size: 0;
    background: rgba(169, 169, 169, 0.3);
    border: 1px solid transparent;
    z-index: 1;
    outline: none;
    transition: all 0.3s ease;
}

.product-control .slick-arrow:hover {
    background: #000;
}

.product-control .slick-arrow:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #6b6b74;
    top: 50%;
    left: 50%;
}

.product-control .slick-arrow:hover:before {
    border-color: #fff;
}

.product-control .slick-prev {
    left: 95%;
}

.product-control .slick-next {
    right: 0%;
}

.product-control .slick-prev:before {
    border-left: 1px solid #6b6b74;
    transform: translate(-25%, -50%) rotate(45deg);
}

.product-control .slick-next:before {
    border-left: 1px solid #6b6b74;
    transform: translate(-75%, -50%) rotate(-133deg);
}


/*-----------------------------category----------------------------------------------*/

.categories-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 20px;
}

.category {
    width: 309px;
    border: 6px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    position: relative;
    cursor: pointer;
}

.category>img {
    display: block;
    width: 100%;
    height: auto;
}

.advantages {
    min-height: 100px;
    background: rgba(30, 26, 21, 0.7);
    position: absolute;
    bottom: 11%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease;
}

.advantages h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    padding-bottom: 8px;
}

.advantages a {
    text-decoration: none;
    display: inline-block;
    margin-top: 17px;
    color: #e1c15f;
    border-bottom: 1px dotted #e1c15f;
    padding-bottom: 1px;
}

.category:hover .advantages {
    background: #e1c15f;
}

.category:hover .advantages h2 {
    color: #000;
}

.category:hover .advantages a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}


/*-----------------------------hot,new------------------------------------------------*/

.product-control {
    border-top: 1px solid #e5e5e5;
}

.product img {
    width: 100%;
    height: auto;
    border: 6px solid #fff;
    box-shadow: 0 0 10px 0 #444;
    margin-bottom: 28px;
    margin-top: 50px;
    box-sizing: border-box;
}

.product p {
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 14px;
    padding-bottom: 9px;
    font-weight: 400;
    text-align: left;
}

.product-price {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 105%;
    height: 105%;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.product-price>h6 {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 21px;
    padding-top: 19px;
    margin-top: 12px;
}

.product-price>a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border: 2px solid #c19324;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    padding: 10px 30px;
    display: inline-block;
    margin-top: 39px;
    transition: all .5s ease;
}

.product-price>a:hover {
    color: #fff;
    background-color: #eec652;
    background-image: linear-gradient(to top, #cc0001 0%, #d63334 100%);
    border: 2px solid #a32424;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

.product {
    position: relative;
    padding: 0 15px;
}

.product:hover .product-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.profit {
    position: relative;
}

.profit:after {
    content: '';
    position: absolute;
    border: 13px solid #000;
    border-right: 13px solid transparent;
    height: 0;
    width: 74px;
    left: -5px;
    top: 12px;
    line-height: 1px;
    font-size: 12px;
    text-align: center;
}

.profit:before {
    content: '';
    position: absolute;
    border: 2.5px solid transparent;
    border-right: 2.5px solid #000;
    border-top: 2.5px solid #000;
    top: 39px;
    left: -5px;
}

.profit:hover:before,
.profit:hover:after {
    display: none;
}


/*---------------------------------hot product----------------------------------------*/

.hot-product .profit:after {
    content: 'Выгодно!';
    border: 13px solid #cf0e0f;
    border-right: 13px solid transparent;
}

.hot-product .profit:before {
    border-right: 2.5px solid #7f0001;
    border-top: 2.5px solid #7f0001;
}


/*-----------------------------------new product-----------------------------------------*/

.new-product .profit:after {
    content: 'Новинка';
    border: 13px solid #edc03f;
    border-right: 13px solid transparent;
}

.new-product .profit:before {
    border-right: 2.5px solid #a7831c;
    border-top: 2.5px solid #a7831c;
}


/*-----------------------------------info company-----------------------------------------*/

.info-content {
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    margin-top: 2px;
}

.info-content>img {
    float: left;
    margin-top: 40px;
    padding-right: 23px;
}

.info-content>p {
    font-size: 14px;
    color: #555;
    margin-top: 25px;
    padding-top: 20px;
    text-align: left;
    margin-bottom: 26px;
}

.on-line {
    text-align: right;
}

.on-line>a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border: 2px solid #c19324;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    background-color: #eec652;
    background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 10px 27px 10px 52px;
    transition: all .5s ease;
}

.on-line>a:hover {
    color: #fff;
    background-color: #eec652;
    background-image: linear-gradient(to top, #cc0001 0%, #d63334 100%);
    border: 2px solid #a32424;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

.fa-comments {
    position: relative;
}

.fa-comments:before {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #c19324;
    font-size: 16px;
}


/*-----------------------------------footer-----------------------------------------*/

.footer {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
}

.foot-menu {
    text-align-last: justify;
    border-bottom: 1px solid #3c3c3c;
}

.footer-menu {
    width: 720px;
    margin: 0 auto;
}

.footer-menu>li {
    display: inline-block;
    position: relative;
}

.footer-menu>li>a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid transparent;
    padding: 19px 0px;
    margin-top: -1px;
    font-size: 14px;
}

.footer-menu>li>a:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 43%;
    right: -29px;
    transform: translate(-50%);
}

.footer-menu>li:last-child>a:after {
    display: none;
}

.footer-menu>li>a:hover {
    color: #e1c15f;
    border-bottom: 2px solid #e1c15f;
}

.footer-submenu {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
    background-origin: content-box;
    padding-bottom: 10px;
    bottom: 100%;
}

.footer-menu>li:hover .footer-submenu {
    z-index: 0;
    opacity: 1;
    bottom: 100%;
}

.footer-submenu:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000000;
    bottom: 0px;
    left: 25px
}

.footer-submenu h3 {
    text-transform: uppercase;
    color: #e1c15f;
    border-bottom: 1px solid #3c3c3c;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 20px 10px 20px;
}

.footer-man:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.footer-man:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.footer-women:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.footer-women:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.footer-submenu>ul>li>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.footer-submenu-left {
    border-right: 1px solid #3c3c3c;
    padding-right: 40px;
    list-style-type: disc;
    color: white;
    margin: 25px 0px 20px 35px;
}

.footer-submenu-left li {
    margin-bottom: 10px;
}

.footer-submenu-right {
    padding-left: 40px;
    list-style-type: disc;
    color: white;
    margin: 25px 35px 20px 0px;
}

.footer-submenu-right li {
    margin-bottom: 10px;
}

.footer-submenu a:hover {
    border-bottom: 1px solid white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    min-height: 175px;
}

.footer-num {
    display: flex;
}

.footer-num a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 6px;
}

.nam-left {
    margin-right: 20px;
    border-right: 1px solid #e1c15f;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.num-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer-naw {
    width: 250px;
}

.footer-naw p {
    color: #fff;
    margin-bottom: 8px;
}

.naw {
    display: inline-block;
}

.footer-naw a {
    color: #e1c15f;
    text-decoration: none;
    border-bottom: 2px dotted #e1c15f;
}

.counter {
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background: #fffcf5;
    border-top: 3px solid #d9a81d;
    border-bottom: 3px solid #d9a81d;
    border-left: 3px solid #d9a81d;
    border-right: 3px solid #d9a81d;
    left: 5px;
    top: 8px;
}

.counter:after {
    content: '';
    border-top: 3px solid #d9a81d;
    border-right: 3px solid #d9a81d;
    height: 17px;
    width: 17px;
    position: absolute;
    top: 4px;
    left: 5px;
}

.counter:before {
    content: '';
    border-left: 3px solid #d9a81d;
    height: 22px;
    top: 3px;
    left: 13px;
    position: absolute;
    transform: rotate(45deg);
}


/*-----------------------------------media-----------------------------------------*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .banner-text {
        width: 231px;
        position: relative;
        right: 23%;
    }
    .category {
        width: 290px;
    }
    .product-price {
        top: 60%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .container {
        width: 730px;
    }
    .banner-text {
        margin-top: 0;
        width: 180px;
        right: 29%;
    }
    .banner-text>h2 {
        font-size: 30px;
    }
    .banner-text>h1 {
        font-size: 35px;
    }
    .category {
        width: 340px;
        margin-bottom: 20px;
    }
    .categories-content {
        flex-wrap: wrap;
    }
    .categories-content .category:last-child {
        margin: 20px auto;
    }
    .product-control {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .product-control .slick-prev {
        left: 90%;
    }
    .product-control .slick-next {
        right: 3%;
    }
    .product {
        width: 300px;
    }
    .info-content>img {
        margin-bottom: 60px;
    }
    .footer-top {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .container {
        width: 445px;
    }
    .header-top {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .header-top .logo {
        order: -1;
        width: 100%;
    }
    .menu {
        text-align-last: center;
    }
    .header-menu {
        width: 200px;
    }
    .header-menu>li {
        display: block;
    }
    .header-menu>li:last-child>a:after {
        display: block;
    }
    .header-menu>li>a:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        top: 48%;
        left: -28px;
        transform: translate(-50%);
    }
    .header-menu>li>a {
        border-bottom: 2px solid transparent;
    }
    .header-menu>li>a:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #e1c15f;
    }
    .header-menu>li:hover .submenu {
        z-index: 3;
        left: -91px;
    }
    .header-menu>li:hover .submenu {
        left: -55px;
    }
    .submenu {
        left: -55px;
    }
    .submenu:after {
        left: 183px;
    }
    .banner-text>h2 {
        font-size: 20px;
    }
    .banner-text>h1 {
        font-size: 23px;
    }
    .categories-content .category:last-child {
        margin: 0 auto;
    }
    .product-price {
        top: 58%;
    }
    .product-control .slick-arrow {
        top: 3%;
    }
    .product-control .slick-prev {
        left: 44%;
    }
    .product-control .slick-next {
        right: 44%;
    }
    .product-price>h6 {
        position: relative;
        top: 22%;
    }
    .product-price>a{
        position: relative;
        top: 20%;
    }
    .categories-content {
        justify-content: space-around;
    }
    .info-content {
        padding: 15px;
    }
    .info-content>img {
        margin-bottom: 10px;
        width: 100%;
    }
    .info-content>p {
        margin-top: -25px;
    }
    .footer-menu {
        width: 200px;
    }
    .foot-menu {
        text-align-last: center;
    }
    .footer-menu>li:hover .footer-submenu {
        left: -55px;
    }
    .footer-submenu {
        left: -55px
    }
    .footer-menu>li {
        display: block;
    }
    .footer-menu>li>a:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        top: 43%;
        left: -29px;
        transform: translate(-50%);
    }
    .footer-menu>li:last-child>a:after {
        display: block;
    }
    .footer-menu>li:hover .footer-submenu {
        z-index: 3;
        left: -95px;
    }
    .footer-submenu:after {
        left: 183px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .container {
        width: 300px;
    }
    .login {
        margin-bottom: 20px;
    }
    .phone input:checked+label+.phone-wrap {
        z-index: 3;
    }
    .header-menu>li:hover .submenu {
        left: -55px;
    }
    .submenu {
        left: -55px;
    }
    .submenu-left {
        padding-right: 6px;
        border-right: 1px solid transparent;
        margin: 27px -6px 22px 24px;
    }
    .submenu-right {
        padding-left: 30px;
        margin: 25px 7px 20px 0px;
    }
    .submenu>ul>li>a {
        font-size: 14px;
    }
    .banner{
        display: none;
    }
    .product-price>h6 {
        top: 0%;
    }
    .product-price>a{
        top: 0%;
    }
    .banner-text>h1 {
        font-size: 32px;
    }
    .product-control .slick-prev {
        left: 41%;
    }
    .product-control .slick-next {
        right: 42%;
    }
    .product-price {
        top: 61%;
    }

    .category {
        width: 265px;
    }
    .caption {
        font-size: 20px;
    }
    .product {
        width: 220px;
    }
    .info-content>img {
        padding-right: 0;
    }
    .on-line {
        text-align: center;
    }

    .footer-menu>li:hover .footer-submenu {
        left: -55px;
    }
    .footer-submenu {
        left: -55px
    }
    .footer-submenu-left {
        padding-right: 6px;
        border-right: 1px solid transparent;
        margin: 27px -6px 22px 24px;
    }
    .footer-submenu-right {
        padding-left: 30px;
        margin: 25px 7px 20px 0px;
    }
    .footer-num {
        display: inline-block;
        border-right: 2px solid #e1c15f;
        padding-right: 68px;
    }
    .nam-left {
        margin-right: -21px;
        border-right: 2px solid transparent;
    }
    .num-right {
        justify-content: flex-end;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .container {
        width: 240px;
    }
    .header-top .logo {
        width: 92%;
    }
    .phone label {
        right: 6px;
    }
    .searchstyle {
        width: 187px;
    }
    .header-menu {
        width: 100px;
    }
    .submenu {
        display: block;
        padding-right: 20px;
        left: -40px;
    }
    .submenu:after {
        top: 1px;
        left: 77px;
    }
    .header-menu>li:hover .submenu {
        left: -40px;
    }
    .banner{
        display: none;
    }
    .category {
        width: 180px;
    }
    .advantages h2 {
        font-size: 13px;
    }
    .advantages {
        min-height: 84px;
    }
    .caption {
        font-size: 14px;
    }
    .product {
        width: 175px;
        margin-bottom: 11px;
    }
    .profit:after {
        width: 56px;
    }
    .product-price {
        width: 111%;
        height: 74%;
    }
    .product-price>h6 {
        font-size: 17px;
    }
    .product-price>a {
        font-size: 11px;
    }
    .info-content>img {
        margin-top: 10px;
        padding-right: 0px
    }
    .footer-menu {
        width: 100px;
    }
    .footer-submenu {
        display: block;
        padding-right: 20px;
        left: -40px;
    }
    .footer-submenu:after {
        top: 1px;
        left: 77px;
    }
    .footer-menu>li:hover .footer-submenu {
        left: -40px;
    }
}